<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 内容表指定工作空间，要与接口名相同 -->
<mapper namespace="com.randommeme.dao.IContentDao">

    <resultMap id="extremeValueResMap" type="com.randommeme.entity.ContentExtremeValuePo">
        <result property="minId" column="min_id"/>
        <result property="maxId" column="max_id"/>
    </resultMap>

    <select id="getMinAndMaxId" resultMap="extremeValueResMap">
        SELECT MIN(id) AS min_id, MAX(id) AS max_id FROM t_content
        <if test="classifyCode != null">
            WHERE classify_code = #{classifyCode}
        </if>
    </select>
</mapper>